@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}

.headder {
    background-color: white;
    width: 100%;
    padding-top: 34px;

}

.logo h2 {
    color: white;
    padding-left: 20px;
    padding-top: 8px;
}

.navbar ul {
    list-style: none;
    display: inline-flex;
    float: right;
    margin-top: -39px;


    margin-right: 20%;
}

.navbar li {
    padding: 10px 25px;
    font-weight: 500;


}

.navbar li a {
    color: black;

}

.navbar .navbarli {
    padding-top: 65px;
}

.bedfront {
    position: relative;
    width: 100%;
    height: 100%;
}

.bedfront .bedfrontimage {
    width: 100%;
    position: relative;
    height: auto;
    margin: auto;

}

.bedfront .heading {
    width: auto;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 35%;

}

.premium {
    width: auto;
    text-align: center;
    margin-top: 130px;
}

.imgfour {
    width: auto;
    text-align: center;
    margin-top: 65px;

}

.imgfour img {
    width: 70%;
}

.bestseller {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 65px;
}

.productname {
    width: auto;
    text-align: center;
    height: auto;
}

.productname ul {
    list-style: none;
    display: inline-flex;
    float: right;
    margin-top: -39px;
    margin-right: 20%;
}

.productname li {
    padding: 10px 25px;
    font-weight: 500;
}

.productname .t1 {
    display: block;
    padding-top: 25px;
    padding-bottom: 75px;
}

.productname .image1:hover {
    transform: scale(1.1);
}

.productname .image2:hover {
    transform: scale(1.1);
}

.productname .image3:hover {
    transform: scale(1.1);
}

.comfort {
    width: 100%;
    height: 455px;
    background-color: #EFEFEF;
    display: inline-flex;
    position: relative;
}

.comfort img {
    width: auto;
    text-align: center;
    height: 25px;
    padding-left: 725px;
    padding-top: 85px;
    position: relative;
}

.comfort .comfortimg {
    width: 60%;
    height: 70%;
    padding-left: 335px;
    padding-top: 134px;
    position: absolute;
}

.readtestimony {
    text-align: center;
}

.instagram {
    text-align: center;
}

.instagram img {
    padding-top: 10px;
}

.lastimage {

    padding-top: 30px;
}

.lastimage img {
    width: 100%;
}

.lastdiv {
    width: 80%;
    padding-left: 10%;
    padding-top: 30px;
}

.lastdiv .lastdivul {
    display: inline-flex;
    width: 100%;
    list-style-type: none;
}

.lastdiv .lastdivli {
    width: 25%;
}

.payment {
    display: inline-flex;
    width: 100%;
    height: auto;
}

.payment .blauche {
    width: 30%;
    padding-top: 50px;
    padding-left: 186px;
}

.payment .layer36 {
    width: 40%;
    padding-left: 43%;
}

.cart img {
    height: 40px;
    width: 40px;
    fill: white;
}

.fadein {
    position: relative;
    height: 332px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.fadein img {
    position: absolute;
    width: calc(96%);
    height: calc(94%);
    object-fit: scale-down;
}